@import "tailwindcss";

*{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}  
::-webkit-scrollbar-track{
    background-color: #fde6d6;
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}